.genre-card {
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: clamp(1rem, 2vw, 1rem);
  max-height: 15rem;
  cursor: pointer;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.genre-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.genre-card:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: #171616;
  border-color: #fff;
}

.happy,
.dreamy {
  position: relative;
}

.happy {
  background: linear-gradient(to bottom, #f8d510 0%, #ff8400 100%);
  color: #1e1e1e;
}
.happy:hover {
  background: linear-gradient(to bottom, #07455a, #427e7c, #b5713e, #e87121);
  color: #ffffff;
}

.sad {
  background: linear-gradient(to bottom, #00abff 0%, #08021f 100%);
}
.sad:hover {
  background: linear-gradient(to bottom, #5f7c97 0%, #415d7a 45%, #23384d 100%);
  color: #ffffff;
}

.dreamy {
  background: linear-gradient(to bottom, #ffadfe 0%, #0057ff 100%);
  color: #1e1e1e;
}
.dreamy:hover {
  background: linear-gradient(to bottom, #4c00a8b3 0%, #000a9199 100%);
  color: #ffffff;
  border-color: #f0e6f6;
}

.genre-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.genre-card:hover .genre-background {
  opacity: 1;
}

.genre-content {
  position: relative;
  z-index: 1;
}
