body {
  max-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  padding: 1rem;
  position: fixed;
}

.title {
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 0 0 1rem #ffffff;
  font-style: italic;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.title:hover {
  animation: textDisperse 1.2s linear;
  animation-fill-mode: forwards;
}

/* @keyframes textDisperse {
  0% {
    opacity: 1;
    text-shadow:
      0 2rem 2rem #ff0095,
      0 2rem 2rem #8800ff,
      -2rem 0 2rem #00aaff;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: skewX(30deg) skewY(10deg);
  }
} */

.audio-btn {
  margin: 1rem auto;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  color: #fff;
  border-radius: 5rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.audio-controls {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.audio-btn:hover {
  box-shadow: 0 0 1rem #ceb708;
  color: #000000;
  background-color: #f5a6b9;
  border: none;
}

.toast {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  opacity: 1;
}
